#body {
  background: #f8e7d1;
}

.calculator {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid #ff7433;
  padding: 25px;
  size: 100px;
  border-radius: 10px;
  background: white;
  transition: display 0.5s ease-in-out;
}

.input {
  padding-bottom: 10px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
}

.button,
.advanced-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button button,
.advanced-button button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  background-color: #ffffff;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 20px;
}

.button button:hover,
.advanced-button button:hover {
  background-color: #bebebe;
}

.operation button {
  color: #ff7433;
}

.operation button:disabled {
  color: #f8e7d1;
}

#equal-button button {
  background-color: #ff7433;
  color: white;
  text-align: center;
}

#equal-button button:hover {
  -webkit-animation: scale-down-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: scale-down-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes scale-down-center {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
}
@keyframes scale-down-center {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
}

#check {
  display: none;
}

#check-label {
  width: 50%;
  height: 50%;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  cursor: pointer;
}

#check-label span, #check-label::after, #check-label::before {
  content: '';
  height: 4px;
  width: 100%;
  background-color: #ff7433;
  transition: width 300ms, background-color 300ms;
}

#check-label::after, #check-label::before {
  content: '';  
}

#check-label:hover::after, #check-label:hover::before {
  width: 70%;
}

#check-label:hover span {
  width: 20%;
}

.calculator:has(input:checked) #check-label span {
  width: 0;
}

.calculator:has(input:checked) #check-label::before {
  background-color: #ff0000;
  width: 70%;
  transform: rotate(30deg) translateY(10px) translateX(4px);
}

.calculator:has(input:checked) #check-label::after {
  background-color: #ff0000;
  width: 70%;
  transform: rotate(-30deg) translateY(-10px) translateX(4px);
}

.advanced-buttons {
  opacity: 0;
  display: none;
  transition: opacity 5s, display 5s;
}

.calculator:has(input:checked) .advanced-buttons {
  opacity: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5px;
  position: relative;
  top: -10px;
  left: -10px;
}

.calculator:has(input:checked) {
  opacity: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}